.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 1rem;
    gap: 1rem;
}
h2{
    border-bottom: 0.2em solid var(--primary);
}
.userInfo{
    width: 30%;
}
.groupCard{
    border: 0.2em solid var(--fill);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: 0.3s; 
}
.groupCard:hover{
    border: 0.2em solid var(--secondary);
}
.buttons{
    text-align: right;
}
.buttons button{
    margin: 0.2rem;
    border: 0.2em solid var(--fill);
    background-color: var(--bg);
    transition:  0.3s;
}
.buttons .accept:hover{
    border: 0.2em solid #3c58e6;
    color: #3c58e6;
}
.buttons .decline:hover{
    border: 0.2em solid var(--error);
    color: var(--error);
}
.section{
    height: 100%;
}