<div class="userInfo" *ngIf="api.user != undefined">
    <h2>Profil użytkownika {{api.user.username}}</h2>
</div>
<div class="userCard">
    <div id="photo">
        <img src="{{(player$ | async)?.photo}}" alt=" " width="180">
    </div>
    <div class="content">
        <h4>Informacje:</h4>
    <p>Nazwa użytkownika: {{api.user?.username}}</p>
    <p>Imie: {{(player$ | async)?.firstName}}</p>
    <p>Nazwisko: {{(player$ | async)?.surname}}</p>
    <p>Adres email: {{(player$ | async)?.email}}</p>
    <a routerLink="/logout"><button>Wyloguj się</button></a>
    </div>
</div>

<div class="container" *ngIf="api.user != undefined"
>
    <div class="section">
        <h4>Twoje wydarzenia:</h4>
        <div class="groupCard" *ngFor="let i of events$ | async">
            <p>Nazwa: {{i.name}}</p>
            <p>Opis: {{i.description}}</p>
            <div class="buttons">
                <button class="accept" (click)="openInviteMenu(i)">Zaproś użytkowników</button>
            </div>
        </div>
    </div>
    <div class="section">
        <h4>Twoje grupy:</h4>
        <div class="groupCard" *ngFor="let i of groups$ | async">
            <p>Nazwa: {{i.name}}</p>
            <p>Opis: {{i.description}}</p>
            <div class="buttons">
                <button class="decline" (click)="leaveGroup(i)">Opuść grupę</button>
            </div>
        </div>
        
    </div>
    <div class="section">
        <h4>Twoje lokalizacje:</h4>
        <div class="groupCard" *ngFor="let i of objectLocation$ | async">
            <p>{{i.name}}</p>
            <p>{{i.description}}</p>
            <div class="buttons">
                <button class="decline" (click)="deleteLocation(i)">Usuń</button> 
            </div>
        </div>
        <div class="buttons">
            <button class="accept" routerLink="/add-location">Dodaj nową lokalizacje</button>
        </div>
    </div>
    
</div>

