.grid {
    grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
    grid-auto-rows: 1fr;
    display: grid;
    gap: 0.5rem;
}

.card {
    padding: 1rem;
    border: 0.2rem solid var(--fill);
    display:grid;
    grid-template-rows: 1fr 1fr auto;
}

.card button {
    width: 100%;
}