<h1>Register</h1>
<form class="form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
    <div class="ctrl-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div class="ctrl-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div class="ctrl-group">
        <label for="repeatpassword">Repeat password</label>
        <input id="repeatpassword" type="password" formControlName="repeatPassword">
    </div>
    <button type="button" [disabled]="registerForm.invalid" type="submit">Register</button>
</form>
