<h1>Utwórz nowe wydarzenie:</h1>
<form [formGroup]="eventForm" (ngSubmit)="onLocationFormSubmit()">
    <p>Podaj nazwę wydarzenia:</p>
    <input type="text" formControlName="name">
    <p>Podaj opis wydarzenia:</p>
    <textarea formControlName="description" id="" cols="30" rows="10"></textarea>
    <p>Wybierz lokalizację:</p>
    <select formControlName="selectedLocation">
        <option *ngFor="let it of locations$ | async"  [ngValue]="it">{{it.name}}</option>
    </select>
    
    <h2>Prywatne wydarzenie: <input type="checkbox" formControlName="isPrivate"></h2>
    
    <div class="buttons">
        <button type="submit" class="accept" [disabled]="eventForm.invalid">Utwórz</button>
    </div>
    
</form>