.buttons{
    text-align: right;
}
.buttons button{
    margin: 0.2rem;
    border: 0.2em solid var(--fill);
    background-color: var(--bg);
    transition:  0.3s;
}
.buttons .accept:hover{
    border: 0.2em solid var(--primary);
    color: var(--primary);
}

.buttons .decline:hover{
    border: 0.2em solid var(--error);
    color: var(--error);
}
h3{
    color: white;
}

.container:hover h3{
    color: var(--primary);
}
.container:hover h4{
    color: var(--primary-l);
}