<h1>Add a new location</h1>
<app-map-picker class="picker"></app-map-picker>
<!--
<form class="form" [formGroup]="addLocForm" (ngSubmit)="onAddLocFormSubmit()">
    <div class="ctrl-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div class="ctrl-group">
        <label for="description">Description</label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div class="ctrl-group">
        <label for="description">Select location from the map: </label>
        <app-map-picker></app-map-picker>
    </div>
    <button type="button" [disabled]="addLocForm.invalid" type="submit">Add location</button>
</form>
-->
