.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 1rem;
    gap: 1rem;
}
app-group-card {
    border: 0.2rem solid var(--fill);
    padding: 1rem;
    border-radius: 0.5rem;
}
