.userCard{
    border: 0.2em solid var(--fill);
    padding: 1.5rem;
    border-radius: 0.3rem;
    transition: border-color 0.3s;
    display: flex;
    margin-top: 2rem;
}
.userCard:hover{
    border: 0.2em solid var(--secondary);
}
#photo{
    display: grid;
    place-items: center;
    background-color: var(--secondary);
    width: 140px;
    height: 140px;
    text-align: center;
    border: 0.2em dashed var(--fill);
    border-radius: 0.3rem;
}
.content{
    margin-left: 0.8rem;
}