<div class="container">
    <h3>{{event.name}}</h3>
    <h4>Opis: {{event.description}}</h4>
</div>
<div class="icons-container">
    <div class="icons">
        <ng-icon name="matAdminPanelSettings" color="var(--secondary)" size="30"></ng-icon>
        <div class="clikable">
            <ng-icon name="matBuild" color="var(--primary)" size="25"></ng-icon>
        </div>
    </div>
 
    <div class="icons button-icons">
        <div style="width:fit-content" (click)="quitEvent()">
            <ng-icon class="info-icon" name="matCancel" size="30"></ng-icon>
        </div>
    </div>
    
</div>