/* You can add global styles to this file, and also import other style files */


:root {
    --fg: hsl(220, 7%, 92%);
    --bg: hsl(224, 10%, 21%);
    --fill: hsl(223, 10%, 36%);

    --primary: hsl(157, 100%, 55%);
    --primary-t: hsla(157, 100%, 55%, 10%);
    --primary-l: hsl(157, 100%, 85%);

    --secondary: hsl(248, 100%, 75%);
    --secondary-l: hsl(248, 100%, 85%);

    --error: hsl(0, 100%, 65%);
    --error-t: hsla(0, 100%, 65%, 10%);
/*
    --fg: #e9eaec;
    --bg: #30333b;
    --fill: #535865;

    --primary: #1affa7;
    --primary-t: #1affa71a;
    --primary-l: #b3ffe2;

    --secondary: #9180ff;
    --secondary-l: #bdb3ff;
    --error: #ff4d4d;
    --error-t: #ff4d4d1a;
*/
}

@font-face {
    font-family: "Montserrat";
    src: url('assets/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('assets/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}
a {
    color: var(--secondary);
    font-weight: bold;
}

body {
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--fg);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.text-primary {
    color: var(--primary);
}

.form {
    display: grid;
    gap: 1em;
    border-radius: 0.5em;
}

.ctrl-group {
    display: grid;
    gap: 0.2em;
}

.form input, button, textarea {
    font-size: 1rem;
    font-family: "Montserrat";
    background-color: var(--fill);
    color: var(--fg);
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
}


textarea {
    resize: vertical;
}

button {
    background-color: var(--secondary);
    color: var(--fg);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    opacity: 0.3;
}

