/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Montserrat";
    src: url('assets/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('assets/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}
html {
    height: 100%;
}

body {
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
    background-color: #333;
    margin: 0;
    display: grid;
    min-height: 100%;
}


.form {
    display: grid;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.form input, button {
    font-size: 1rem;
    font-family: "Montserrat";
    background-color: #222;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
}

button {
    background-color: hsl(0, 0%, 57%);
    color: #222;
    font-weight: bold;
    transition:
    color 1s,
    background-color 1s,
}

button:hover {
    cursor: pointer;
    background-color: hsl(0,0%,80%);
}

button:disabled {
    cursor: default;
    opacity: 0.3;
}



.ctrl-group {
    display: grid;
    gap: 0.2em;
}
