:host {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100%;
    grid-template-areas: "nav" "page";
}

app-navbar {
    grid-area: nav;
}



.page {
    grid-area: page;
    height: 100%;
    padding: 1em;
    position: relative;
}