<h1>TeamHere</h1>
<div *ngIf="api.user == undefined">
    <p>
        <a routerLink="/login">Zaloguj się</a>
        aby korzystać z TeamHere
    </p>
</div>
<div class="container" *ngIf="api.user != undefined">
    <div class="userGroups">
        <h2>Twoje grupy:</h2>
        <hr>
        <div class="optionCard" *ngFor="let group of groups$ | async">
            <app-group-card [group]="group" (showInfoClicked)="showInfo($event)"></app-group-card>
        </div>
    </div>
    <div class="userGroups">
        <h2>Zbliżające się eventy:</h2>
        <hr>
        <div class="optionCard" *ngFor="let i of groups$ | async">
            <p>Nazwa wydarzenia:{{i.name}}</p>
            <p>Opis wydarzenia:</p>
        </div>
    </div>
    <div class="userGroups">
        <h2>Do tych eventów zostałeś zaproszony:</h2>
        <hr>
        <div class="optionCard" *ngFor="let i of groups$ | async">
            <p>Nazwa wydarzenia:{{i.name}}</p>
            <p>Opis wydarzenia:</p>
            <div class="buttons">
                <button class="accept">Dołącz</button>
                <button class="decline">Odrzuć</button>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="overlayGroup">
    <app-groups-detail [group]="overlayGroup"></app-groups-detail>
</div>
