.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 1rem;
    gap: 1rem;
}
.userGroups{
    border: 0.2em solid var(--fill);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    height: 100%;
}
.userGroups:hover{
    border: 0.2em solid var(--secondary);
}
.optionCard{
    border: 0.2em dashed var(--fill);
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: 0.3s;
}
.optionCard:hover{
    border: 0.2em solid var(--primary-l);
}
.buttons{
    text-align: right;
}
.buttons button{
    margin: 0.2rem;
    border: 0.2em solid var(--fill);
    background-color: var(--bg);
    transition:  0.3s;
}
.buttons .accept:hover{
    border: 0.2em solid var(--primary);
    color: var(--primary);
}

.buttons .decline:hover{
    border: 0.2em solid var(--error);
    color: var(--error);
}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
h1::before {
    content: " ";
    display: block;
    width: 40%;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--secondary);
    z-index: -1;
    transition: transform .3s ease;
}

h1 {
    position: relative;
    font-size: 5rem;
    padding: 5px 15px;
    color: var(--primary);
    margin: 1rem;
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

@keyframes slide-left {
    from {
        transform:  translate(100%);
    }
    to {
        transform:  translate(0%);
    }
}

.overlay {
    min-width: fit-content;
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    box-sizing: border-box;
    width: 30%;
    padding: 1em;
    background-color: var(--bg);
    border-radius: 1em 1em 1em 1em;
    box-shadow: -0.25em 0.25em 0.2em #0008;
    position: sticky;
    bottom: 45rem;
    left: 100rem;
    align-self: flex-end;
}