<h2>TeamHere</h2>
<div *ngIf="api.user == undefined">
    <p>
        <a routerLink="/login">Zaloguj się</a>
        aby korzystać z TeamHere
    </p>
</div>
<div *ngIf="api.user != undefined">
    <p>Witaj: {{api.user.username}}</p>
    
</div>
<div class="container" *ngIf="api.user != undefined">
    <div class="userGroups">
        <p>Twoje grupy:</p>
        <div class="optionCard" *ngFor="let i of groups$ | async">{{i.name}}</div>
    </div>
    <div class="userGroups">
        <p>Zbliżające się eventy:</p>
        <div class="optionCard" *ngFor="let i of groups$ | async">
            <p>Nazwa wydarzenia:{{i.name}}</p>
            <p>Opis wydarzenia:</p>
        </div>
    </div>
    <div class="userGroups">
        <p>Do tych eventów zostałeś zaproszony:</p>
        <div class="optionCard" *ngFor="let i of groups$ | async">
            <p>Nazwa wydarzenia:{{i.name}}</p>
            <p>Opis wydarzenia:</p>
            <div class="buttons">
                <button class="accept">Dołącz</button>
                <button class="decline">Odrzuć</button>
            </div>
        </div>
    </div>
</div>
<!-- <button type="button" (click)="logout()">Log out</button> -->