


<h1>Team<span class="here">Here</span></h1>
<h3 class="online">Użytkownicy <span class="here">Online: {{(onlineUsers$ | async)?.length}}</span></h3>
<div *ngIf="api.user == undefined">
    <p>
        <a routerLink="/login">Zaloguj się</a>
        aby korzystać z TeamHere
    </p>
</div>
<div class="container" *ngIf="api.user != undefined">
    <div class="userGroups" *ngIf="(invites$ | async)?.length">
        <h2>Do tych eventów zostałeś zaproszony:</h2>
        <div class="optionCard" *ngFor="let event of invites$ | async">
            <app-event-to-accept-card [event]="event" (chosen)="refresh()"></app-event-to-accept-card>
        </div>
    </div>
    <div class="userGroups">
        <h2>Zbliżające się eventy:</h2>
        <div class="optionCard" *ngFor="let event of events$ | async">
            <app-event-card [event]="event" (leave)="refresh()"></app-event-card>
        </div>
    </div>
    <div class="userGroups">
        <h2>Twoje grupy:</h2>
        <div class="optionCard" *ngFor="let group of groups$ | async">
            <app-group-card [group]="group" (showInfoClicked)="showInfo($event)"></app-group-card>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="overlayGroup">
    <div (click)="backArrow()" class="clicable">
        <ng-icon name="matArrowCircleRight" size="40" color="var(--primary)"></ng-icon>
    </div>
    <app-groups-detail [group]="overlayGroup"></app-groups-detail>
</div>
