.locationCard{
    border: 0.2em solid var(--fill);
    padding: 1.5rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transition: border-color 0.3s;
}

.locationCard:hover{
    border: 0.2em solid var(--secondary);
}
.buttons{
    text-align: right;
}
.buttons button{
    margin: 0.2rem;
    border: 0.2em solid var(--fill);
    background-color: var(--bg);
    transition:  0.3s;
}
.buttons .accept:hover{
    border: 0.2em solid var(--primary);
    color: var(--primary);
}

.buttons .decline:hover{
    border: 0.2em solid var(--error);
    color: var(--error);
}