.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));*/
    margin-top: 1rem;
    gap: 1rem;
}


.userGroups{
    flex-basis: 0;
    flex-grow: 1;
    border: 0.2em solid var(--fill);
    padding: 0.25rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    height: 100%;
}
.userGroups:hover{
    border: 0.2em solid var(--secondary);
}
.optionCard{
    border: 0.2em dashed var(--fill);
    /*background-color: var(--fill);*/
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    transition: 0.3s;
}
.optionCard:hover{
    border: 0.2em solid var(--primary-l);
}

h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1::before {
    content: " ";
    display: block;
    position: absolute;
    height: 10%;
    bottom: 0;
    left:0;
    right: 0;
    background: var(--primary);
    z-index: -1;
    transition: transform .3s ease;
}

h1 {
    font-weight: 480;
    position: relative;
    font-size: 3.5rem;
    max-width: min-content;
    /*margin: auto;*/
    width: 100%;
    text-align: center;
    color: var(--fg);
}

@media (orientation: landscape) {
    body {
        grid-auto-flow: column;
    }
}

@keyframes slide-left {
    from {
        transform:  translate(100%);
    }
    to {
        transform:  translate(0%);
    }
}

@keyframes slide-right {
    from {
        transform:  translate(0%);
    }
    to {
        transform:  translate(100%);
    }
}

.overlay {
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    box-sizing: border-box;
    width: 30%;
    padding: 1em;
    background-color: var(--bg);
    border-radius: 1em 1em 1em 1em;
    box-shadow: -0.25em 0.25em 0.2em #0008;
    position: sticky;
    bottom: 45rem;
    left: 100rem;
    align-self: flex-end;
    max-width: 30%;
}
.clicable{
    cursor: pointer;
}

.here {
    color: var(--primary);
    font-weight: 700;
}
