nav { 
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

nav a {
    border: 0.2em solid var(--fill);
    border-radius: 0.5rem;
    color: var(--fg);
    flex-basis: 0;
    padding: 1em;
    display: block;
    text-decoration: none;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    transition: color 0.3s, border-color 0.3s;
}

nav a.active {
    color: var(--secondary-l);
    border-color: var(--secondary);
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }
}



