nav { 
    display:flex;
    height: 100%;
    --border: 0.15em solid #ddd4;
    border-bottom: var(--border);
}
nav a {
    padding: 0.8em;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    text-align: center;
}



