<nav>
    <a routerLinkActive="active" routerLink="/home">Strona Główna</a>
    <ng-container *ngIf="isLogged"> 
        <a routerLinkActive="active" routerLink="/map">Mapa</a>
        <a routerLinkActive="active" routerLink="/user">Twój Profil</a>
        <a routerLinkActive="active" routerLink="/admin">Admin</a>
    </ng-container> 
    <ng-container *ngIf="!isLogged"> 
        <a routerLinkActive="active" routerLink="/login">Login</a>
        <a routerLinkActive="active" routerLink="/register">Register</a>
    </ng-container> 
</nav>