nav {
    display:flex;
    flex-direction: column;
    width: 100%;
    --border: 0.2em solid var(--fill);
}
@media(min-width:480px) {
  nav {
    flex-direction: row;
  }
}

nav a {
    min-width: fit-content;
    border-bottom: var(--border);
    padding: 0.8em;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
}

nav a.active {
    border-color: var(--primary);
    color: var(--primary-l);
}


